<div style="display: flex; flex-direction: column; gap: 15px;">
<div style="display: flex; align-items: center;">
<div style="flex-shrink: 0; width: 100px; height: 150px; overflow: hidden; border-radius: 10px; margin-right: 15px;">[##_Image|{poster_url}|CDM|1.3|_##]</div>
<div>
<p style="font-size: 16px; font-weight: bold; margin: 0;" data-ke-size="size16"><a style="text-decoration: none; color: #007bff;" href="#{content_id}">{title}</a></p>
<p style="font-size: 14px; color: #555; margin: 5px 0;" data-ke-size="size16"><b>개봉일</b>: {release_date}</p>
<p style="font-size: 14px; color: #555; margin: 0;" data-ke-size="size16"><b>장르</b>: {genre}</p>
</div>
<p data-ke-size="size16">&nbsp;</p>
</div>
</div>